.container {
  width: 320px;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  margin: 40px auto;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
